#my-academic-history{
	  height: 150px;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  text-align: center;
	
}
.experience img{
	height:95px;
}

.navbar-brand {
    font-family: "Dancing Script Regular 400 ";
    font-size: 2.5em;
}

.pub-abstract{
	text-align:justify;
}

.article-style p{
	text-align:justify;
}

.experience img{
	width: 110px;
}


@media (max-width: 991.98px) {.navbar {
	font-size: 12.17px;
  }
  .hero-title{
	font-size: 1.7em;
  }
}

.media.stream-item img {
	max-width: 80px !important;
  }

.hero-title{
	font-weight: bold;
  }