#my-academic-history{
	  height: 150px;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  text-align: center;
	
}
.experience img{
	height:95px;
}

.navbar-brand {
    font-family: "Dancing Script Regular 400 ";
    font-size: 2.5em;
}

.pub-abstract{
	text-align:justify;
}

.article-style p{
	text-align:justify;
}